@model Organizations
@using static Hrms.Helpers.ApplicationHelper
@section LinkScriptSection{
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.PageType' == '@EnumPageType.View') {
                DisabledView();
            }
        });
    </script>
}
<div class="row mb-4">
    <div class="col-md-12">
        <form asp-controller="@ViewBag.ControllerURL" asp-action="save" autocomplete="off" data-ajax-begin="OnBegin"
              data-ajax-complete="OnComplete" data-ajax-failure="OnFailed"
              data-ajax-success="OnSuccess" data-ajax="true" data-ajax-method="post">
            <input asp-for="Id" hidden />
            <input asp-for="CreatedDateTime" hidden />
            <input asp-for="UtcCreatedDateTime" hidden />
            <input asp-for="CreatedBy" hidden />
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Code">Code <span class="text-danger">*</span></label>
                    <input type="text" asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger pull-left"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Name">Name <span class="text-danger">*</span></label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger pull-left"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Status" class="form-control-label">Status <span class="text-danger">*</span></label>
                    <select asp-for="Status" class="form-control">
                        <option value="">--Select--</option>
                        <option value="@EnumEnableDisable.Enable">@EnumEnableDisable.Enable</option>
                        <option value="@EnumEnableDisable.Disable">@EnumEnableDisable.Disable</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger pull-left"></span>
                </div>
                <div class="col-md-12">
                    @if (ViewBag.PageType != EnumPageType.View)
                    {
                        <button type="submit" class="btn btn-primary float-right btn-save"><i class="fa fa-save"></i> | Save</button>
                    }
                    <a type="button" href="/@ViewBag.ControllerURL" class="btn btn-dark float-right btn-back"><i class="fa fa-arrow-left"></i> | Back</a>
                </div>
            </div>
        </form>
    </div>
</div>